.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 10%;
  border: 2px solid black;
   background-color: rgba(191, 191, 191, 0.25);
  background-image: none;
} 

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #cc6699;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #cc6699;
}

h5 {
     color: #0b2e13; 
     background-color: #ffffff;
    
}

.textoCarousel {
     color: #0b2e13; 
     background-color: #ffffff;
     padding: 3px;
}
.carousel-indicators .active {
    background-color: #2d2d86;
}

.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
   width: 10px;
  height: 10px;
  border-radius: 100%;
}



 .logo {
  background-color: red;
  -webkit-mask: url(img/grid-fill.svg) no-repeat center;
  mask: url(img/grid-fill.svg) no-repeat center;
}



